services:
  nginx:
    restart: always
    build:
      context: .
      dockerfile: NginxDockerfile
    ports:
      - "80:80"
  backend:
    restart: always
    build:
      context: .
      dockerfile: BackendDockerfile
    ports:
      - "3000:3000"
  react:
    restart: always
    build:
      context: .
      dockerfile: ReactDockerfile
    ports:
      - "5173:5173"
  

