.css-dev-only-do-not-override-yp8pcc.ant-modal .ant-modal-title{
    font-size: 2rem;
}

.custom-cancel-button,
.custom-ok-button {
  color: #2d5837;
  font-weight: bolder;
  border-radius: 20px;
  padding: 0 25px;
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.ant-input.css-dev-only-do-not-override-yp8pcc:hover,
.ant-input.css-dev-only-do-not-override-yp8pcc:focus{
  border-color: #2d5837;
}

.css-dev-only-do-not-override-yp8pcc.ant-btn-default:not(:disabled):hover {
    color: white;
}

.custom-cancel-button:hover,
.custom-ok-button:hover {
  background-color: #2d5837;
}